<nav [class]="'navbar ' + (scrolled ? 'scrolled' : '')">
  <div class="container">
    <div class="navbar-content">

      <div class="logo">
        <a (click)="scrollTo('home')" class="logo-link">
          <span class="logo-part pink">Be</span>
          <span class="logo-part green">th</span>
          <span class="logo-part yellow">a.</span>
        </a>
      </div>

      <div class="desktop-menu">
        <li *ngFor="let link of currentLinks">
          <a class="nav-link" (click)="scrollTo(link.href)" *ngIf="link.type == 'section'">
            {{ link.name }}
          </a>

          <a class="nav-link" [href]="link.href" *ngIf="link.type == 'route'">
            {{ link.name }}
          </a>
        </li>

        <a (click)="logout()" class="nav-link">
          Sair
        </a>
      </div>

      <div class="mobile-menu-button">
        <button (click)="toggleMenu()" class="menu-button">
          <i [class]="isOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isOpen" class="mobile-menu">
    <div class="mobile-menu-content">
      <li *ngFor="let link of currentLinks">
          <a class="nav-link" (click)="scrollTo(link.href)" *ngIf="link.type == 'section'">
            {{ link.name }}
          </a>

          <a class="nav-link" [href]="link.href" *ngIf="link.type == 'route'">
            {{ link.name }}
          </a>
        </li>

        <a (click)="logout()" class="nav-link">
          Sair
        </a>
    </div>
  </div>
</nav>